<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="min-vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
<div class="row">
            <form action="/etudiant/voeu/create" method="get">
                <div class="row">
                <div class="col-6">
                <label for="formation">Fomation :</label>
                <input class="form-control" id="formation" name="formation" type="text">
                </div>
                </div>
                <div class="col-6">
                    <label for="lieu">Lieu :</label>
                    <input class="form-control" id="lieu" name="lieu" type="text">
                </div>
                <div class="row">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </form>
</div>
        <div class="row">
            <ul class="list-group">
                <li th:each="uneFormation : ${pageFormation.values}" class="list-group-item">
                    <h3 th:text="${uneFormation.filliere +' '+uneFormation.etablissement.nom+' '+uneFormation.etablisement.commune}"></h3>
                </li>
            </ul>
        </div>
    </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>