<!doctype html>
<html lang="fr">
<head th:fragment="fragHead">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parcoursup</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet"  crossorigin="anonymous">
    <script src="/js/bootstrap.bundle.js"  crossorigin="anonymous"></script>
</head>
<body>
<nav th:fragment="fragNav" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ParcourSup</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/accueil">Accueil</a>
                </li>


                <li  sec:authorize="hasAnyAuthority('admin','etudiant')" class="nav-item">
                    <a class="nav-link"  th:href="@{'/etudiant/voeu'}">Mes Vœux</a>
                </li>
                <li  sec:authorize="hasAnyAuthority('admin','etudiant')" class="nav-item">
                    <a class="nav-link"  th:href="@{'/etudiant/log'}">Mes Logs</a>
                </li>
                <li  sec:authorize="hasAnyAuthority('admin','etudiant')" class="nav-item">
                    <a class="nav-link" href="/recupmdp">Modification du mot de passe</a>
                </li>

<!--                <li sec:authorize="hasAuthority('etudiant')" class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"-->
<!--                       aria-expanded="false">-->
<!--                        Etudiant-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a class="dropdown-item" th:href="@{'/joueur/campagne'}">Mes campagnes</a></li>-->
<!--                        <li><a class="dropdown-item" th:href="@{'/joueur/personnage'}">Mes personnages</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form action="/logout" method="post">
                        <button class="nav-link">Logout</button>
                    </form>
                </li>

            </ul>
            <span class="nav-item" sec:authorize="isAuthenticated()">
                <p class="nav-link"> Bienvenue <span sec:authentication="name"></span>
                    <span sec:authentication="principal.authorities"></span></p>

            </span>
        </div>
    </div>
</nav>

<div th:fragment="fragFlashSuccess">
    <div class="toast-container position-fixed tom-0 end-0 p-3">
        <!-- Toast de Bootstrap -->
        <div th:if="${msgSuccess != null}" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success">
                <strong class="me-auto">Opération réussie</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" th:text="${msgSuccess}">
            </div>
        </div>
    </div>
</div>

<div th:fragment="fragFooter">
    <footer class="container d-flex justify-content-center mt-5 mb-3 text-muted">
        <p>ParcourSup</p>
    </footer>
</body>
</html>