<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

</head>
<body>
<div class="min-vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="display-4">Bienvenue sur ParcourSup !</h1>
                <p class="lead text-bg-danger">Attention ! Parcoursup a été piraté. Regardez la vidéo suivante : </p>
                <video autoplay controls>
                    <source th:src="@{/video/video2.mp4}" type="video/mp4" />
                    <p>
                        Votre navigateur ne prend pas en charge les vidéos HTML5. Voici
                        <a th:href="@{/video/video2.mp4}">un lien pour télécharger la vidéo</a>.
                    </p>
                </video>

            </div>
        </section>
    </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>
