<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <div th:replace="mesFragments:: fragFlashSuccess"></div>
    <main class="container">
        <div class="col-8 col-lg-6 mx-auto p-2  mt-3">
            <form action="/login" method="post">
                <h1>Se connecter</h1>
                <!-- Affiche le message d'erreur si l'attribut "error" est présent dans le modèle -->
                <p th:if="${error}" class="alert alert-danger">Identifiants incorrects. Veuillez réessayer.</p>
                <div class="mb-3">
                    <label for="username">Votre N° dossier</label>
                    <input required class="form-control" id="username" name="username" type="text">
                </div>
                <div class="mb-3">
                    <label for="password">Votre Mot de passe</label>
                    <div class="input-group">
                    <input required class="form-control" id="password" name="password" type="password">
                    <button class="password-toggle btn btn-primary bg-blue" onclick="togglePassword()">
                        <svg  width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </button>
                    </div>
                    <div><a href="/recupmdp">Récuperation de mot de passe</a></div>
                </div>
                <div class="row mb-3 mx-1">
                    <button class="btn btn-primary bg-blue">Se connecter</button>
                </div>

            </form>
        </div>
    </main>
</div>
<script th:inline="javascript">
    function togglePassword() {
        var passwordField = document.getElementById('password');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
        } else {
            passwordField.type = 'password';
        }
    }
</script>

<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>
