<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="min-vh-100">
  <nav th:replace="mesFragments :: fragNav"></nav>
  <main class="container">
    <div class="col-8 col-lg-6 mx-auto mt-2">
      <h1>Formulaire de changement de mot de passe</h1>
      <ul th:if="${erreurs}" class="alert alert-danger">
        <li th:each="erreur:${erreurs}" th:text="${erreur}"></li>
      </ul>
      <form action="/recupmdp" method="post" th:object="${passwordForm}">

        <div class="mb3">
          <label for="email">Numero du dossier</label>
          <input required id="email" th:field="${passwordForm.numDossier}"  type="text" class="form-control">
        </div>
        <div class="mb3">
          <label for="mdp">Code Secret</label>
          <input required  id="secret" th:field="${passwordForm.codeSecret}" type="text" class="form-control">
        </div>
        <div class="mb3">
          <label for="mdp">Nouveau mot de passe</label>
          <input required minlength="8" id="mdp" th:field="${passwordForm.nouveauMpd}" type="text" class="form-control">
        </div>
        <div class="mb3">
          <label for="confirmationMdp">Confirmation</label>
          <input required minlength="8" th:field="${passwordForm.confirmation}" id="confirmationMdp" name="confirmationMdp" type="text" class="form-control">
        </div>
        <div class="my-3 row">
          <button class="btn btn-primary col-6 mx-auto bg-blue">Envoyer</button>
        </div>
      </form>
    </div>
  </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>